<div class="progress">
  <div class="progress-bar-success" role="progressbar" aria-valuenow=<%= @projet.percent(@projet) %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@projet.percent(@projet)}%" %>>
    <%= @projet.percent(@projet) %>%
  </div>
