<!-- Facebook -->
<a class="fb-share-button vcenter" data-href="<%= request.original_url %>" data-layout="button_count"></a>

<!-- Twitter -->
<a href="https://twitter.com/share" class="twitter-share-button vcenter"{count} data-url="<%= request.original_url %>">Tweet</a>
