<!-- <span class="vcenter"> -->
  <!-- Facebook -->
  <a class="fb-share-button vcenter" data-href="<%= request.original_url %>" data-layout="button_count"></a>
<!-- </span> -->
<!-- <span class="vcenter"> -->
<!-- Twitter -->

  <a href="https://twitter.com/share" class="twitter-share-button vcenter"{count} data-url="<%= request.original_url %>">Tweet</a>
<!-- </span> -->
