// Place all the styles related to the projets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.projet {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 2px;
  background-color: #F8F8F8;
}
.margin-top {
  margin-top: 15px;
}
